<!-- About this Distribution modal -->
<div
  class="modal fade"
  id="about-this-distribution-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="about-this-distribution-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Біноміальний розподіл Пуассона</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column" style="gap: 16px">
          <div class="d-flex justify-content-between align-items-center" style="font-size: 14px; gap: 16px;">
            <span>Біноміальний розподіл Пуассона — це розподіл суми незалежних і неоднаково розподілених випадкових показників. Кожен показник відповідає розподілу Бернуллі, і індивідуальні ймовірності успіху відрізняються. Якщо всі ймовірності успіху рівні, біноміальний розподіл Пуассона є біноміальним. Це розподіл ймовірностей кількості успіхів у наборі з n незалежних експериментів «так/ні» з імовірностями успіху p1, p2, … , pn. Звичайний біноміальний розподіл є окремим випадком біноміального розподілу Пуассона, коли всі ймовірності успіху однакові, тобто p1 =  p2 = … = pn</span>
            <img src="parameters.png" alt="Parameters Image" style="object-fit: contain;" />
          </div>
          <div class="d-flex justify-content-center" style="gap: 32px; font-size: 12px">
            <div class="d-flex flex-column align-items-center">
              <span>Probability mass function</span>
              <img src="PMF.png" alt="PDF Image" style="object-fit: contain;" />
            </div>
            <div class="d-flex flex-column align-items-center">
              <span>Cumulative distribution function</span>
              <img src="CDF.png" alt="CDF Image" style="object-fit: contain;" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex align-items-center" style="gap: 16px;">
          <span>Sheketa Anastasiia, student of V.N. Karazin Kharkiv National University, Kharkiv, 2022</span>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
</div>